<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>
    <th:block layout:fragment="f-title">책킹</th:block>
  </title>
  <th:block th:insert="fragment/header :: f-basic"></th:block>
  <th:block layout:fragment="f-header"></th:block>
</head>
<body>
<div class="d__container">
  <header class="h__basic" layout:fragment="f-head">
    <img th:src="@{/img/back.png}" width="11.67" height="19.8" alt="이전" class="btn-back">
  </header>
  <section class="s__basic" layout:fragment="f-content"></section>
</div>
<th:block th:insert="fragment/footer :: f-basic"></th:block>

<th:block layout:fragment="f-script"></th:block>
</body>
</html>