<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>
    <th:block layout:fragment="f-title">책킹</th:block>
  </title>
  <th:block th:insert="fragment/header :: f-basic"></th:block>
  <meta th:name="_access_token" th:content="${token.access_token}"/>
  <meta th:name="_refresh_token" th:content="${token.refresh_token}"/>
  <th:block layout:fragment="f-header"></th:block>
  <style>

  </style>
</head>
<body>
<div class="d__container">
  <header class="h__basic" layout:fragment="f-head">
    <div id="btn__back"></div>
    <th:block layout:fragment="f-head-content"></th:block>
  </header>
  <section class="s__chaeking" layout:fragment="f-content"></section>
  <footer class="f__basic">
    <div class="d__menu" id="menu_1" th:classappend="${menu_type eq 'menu_1'} ? 'active' : ''"></div>
    <div class="d__menu" id="menu_2" th:classappend="${menu_type eq 'menu_2'} ? 'active' : ''"></div>
    <div class="d__menu" id="menu_3" th:classappend="${menu_type eq 'menu_3'} ? 'active' : ''"></div>
    <div class="d__menu" id="menu_4" th:classappend="${menu_type eq 'menu_4'} ? 'active' : ''"></div>
  </footer>
</div>
<th:block th:insert="fragment/footer :: f-basic"></th:block>
<script>
  const $menu_1 = document.getElementById("menu_1");
  const $menu_3 = document.getElementById("menu_3");
  const $menu_4 = document.getElementById("menu_4");
  $menu_1.onclick = () => {
    if(!$menu_1.classList.contains('active'))
      location.href = "[[@{/test}]]";
  }
  $menu_3.onclick = () => {
    if(!$menu_3.classList.contains('active'))
      location.href = "[[@{/book}]]";
  }
  $menu_4.onclick = () => {
    if(!$menu_4.classList.contains('active'))
      location.href = "[[@{/setting/main}]]";
  }
</script>
<th:block layout:fragment="f-script"></th:block>
</body>
</html>