:root {
  --w: 360px;
}
body {
  overflow-y: hidden;

  .d__container {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    color: var(--bs-gray-700);
    width: var(--w);
    height: calc(var(--vh, 1vh) * 100); /* 568px; */
    margin: 0 auto;
    border: 1px solid var(--bs-gray-100);
    overflow-y: hidden;
    font-family: Pretendard, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui, Dotum, Gulim, Helvetica, Sans-serif;
    div { font-size: 1em; }
    i { margin: 0 5px; }
    .col-12 { padding: 0 !important; }
    .fd__row_reverse { flex-direction: row-reverse; }
    .d__hidden { display: none; }
    .d__spinner {
      position: fixed;
      top: calc(var(--vh, 1vh) * 50 - 16px);
      left: calc(50% - 16px);
    }
    .h__basic {
      display: flex;
      align-items: center;
      height: 70px;

      #btn__back {
        background-image: url(../img/back.png);
        background-size: contain;
        width: 14px;
        height: 20px;
        cursor: pointer;
        margin: 0 15px;
        background-repeat: no-repeat;
      }
      .d__search {
        button, input, span {
          font-size: .88em;
        }
        button {
          min-width: 77px;
        }
        input {
          border: transparent;
          border-bottom: 1px solid var(--bs-gray-600);
          border-radius: 0;
        }
        .dropdown-toggle::after {
          margin-left: 5px;
        }
      }
      #i__search, #i__system_setting {
        padding: 0 10px;
      }
    }
    .s__basic {
      display: flex;
      flex-flow: column;
      flex-grow: 2;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 70px);
    }
    .s__chaeking {
      height: calc(var(--vh, 1vh) * 100 - 115px);
      &.scroll__overlay {
        overflow-y: auto;
      }
    }
  }

  .f__basic {
    height: 45px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--bs-gray-100);
    .d__menu {
      width: 25px;
      height: 25px;
      background-size: contain;
      margin: 10px;
      cursor: pointer;
    }
    #menu_1 { background-image: url('../img/menu/menu_1_inactive.png'); }
    #menu_2 { background-image: url('../img/menu/menu_2_inactive.png'); }
    #menu_3 { background-image: url('../img/menu/menu_3_inactive.png'); }
    #menu_4 { background-image: url('../img/menu/menu_4_inactive.png'); }
    #menu_1.active { background-image: url('../img/menu/menu_1_active.png'); }
    #menu_2.active { background-image: url('../img/menu/menu_2_active.png'); }
    #menu_3.active { background-image: url('../img/menu/menu_3_active.png'); }
    #menu_4.active { background-image: url('../img/menu/menu_4_active.png'); }
  }

  .d__home {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-height: calc(var(--vh, 1vh) * 100 - 180px);
    vertical-align: middle;
    .d__logo {
      /* 선반 아이콘  제작자: Freepik - Flaticon*/
      background-image: url(../img/book.png);
      background-size: contain;
      width: 70px;
      height: 70px;
    }
  }

  .d__content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 20px 20px 20px;
    &.pdt-20 {
      padding-top: 20px;
    }
    button {
      margin: 10px;
      border: 2px solid var(--bs-gray-500);
      color: var(--bs-gray-500);
    }
    .a__small {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: #6c757d;
      font-size: .8em;
      cursor: pointer;
      padding: 2px;
      &:hover {
        color: #393c3e
      }
    }
    .d__input_group {
      width: 100%;
      .d__input {
        width: 100%;
        margin: 10px 0;
        & > label {
          font-size: .85em;
          margin: 3px 0;
        }
        .btn-group label {
          font-size: .95em;
        }
      }
    }
    .d__book_simple {
      display: flex;
      flex-flow: row;
      align-self: flex-start;
      height: 65px;
      font-size: .8em;
      margin: 5px 0;
      .d__book_image {
        display: flex;
        justify-content: center;
        width: 65px;
        height: 65px;
        flex-grow: 1;
        img {
          width: auto;
          height: 65px;
        }
      }
      .d__book_content {
        width: calc(100% - 65px);
        margin-left: 10px;
        flex-grow: 2;
        .d__book_title {
          margin-bottom: 2px;
        }
        .d__author {
          margin-right: 5px;
          &:after {
            content: ' 저'
          }
        }
      }
    }

    .d__profile {
      display: flex;
      width: 100%;
      height: 65px;
      margin-bottom: 30px;
      #user__image {
        img { width: 65px; height: 65px; }
      }
      #user__info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        .user__name {
          display: flex;
          align-items: center;
          font-weight: 600;
          &:after {
            font-size: .8em;
            padding: 0 5px;
            content: '\F285';
            font-family: bootstrap-icons, Pretendard, sans-serif !important;
          }
        }
        .user__email {
          font-size: smaller;
        }
      }
    }
    .d__management {
      display: flex;
      flex-flow: column;
      width: 100%;
      color: var(--bs-gray-dark);
      font-weight: 600;
      margin-bottom: 20px;
      .title {
        margin: 10px 0;
      }
      .more, .plus {
        margin: 5px 20px;
      }
    }
    .d__system {
      margin-bottom: 20px;
      width: 100%;
      color: var(--bs-gray-dark);
      font-weight: 600;
      .more, .plus {
        margin: 10px 20px;
      }
    }
    .more {
      justify-content: space-between;
      display: flex;
      font-size: .9em;
      cursor: pointer;
      &:after {
        font-size: .8em;
        color: #000000;
        padding: 0 5px;
        content: '\F285';
        font-family: bootstrap-icons, Pretendard, sans-serif !important;
      }
    }
    .plus {
      display: flex;
      flex-flow: column;
      font-weight: 600;
      font-size: .9em;
      cursor: pointer;
      &.ml-zero {
        margin-left: 0;
      }
    }
  }
}


