:root {
    --vh: 1vh;
}
body {
    overflow-y: hidden;
}
.d__container {
    font-size: 10pt;
    width: 360px;
    height: calc(var(--vh, 1vh) * 100); /* 568px; */
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    overflow-y: hidden;
    font-family: Pretendard, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui, Dotum, Gulim, Helvetica, Sans-serif;
}
.d__container div {
    font-size: 1em;
}
i {
    margin: 0 5px;
}
.d__container .h__basic {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
}
#btn-back {
    cursor: pointer;
}
.d__container .s__basic {
    height: calc(100% - 70px);
}
.d__home {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-height: calc(100vh - 180px);
    vertical-align: middle;
}
.d__home .d__logo {
    /* 선반 아이콘  제작자: Freepik - Flaticon*/
    background-image: url(../img/book.png);
    background-size: contain;
    width: 70px;
    height: 70px;
}
.d__content {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
}
.d__content button {
    margin: 10px;
    border: 2px solid #e5e5e5;
    color: #6c757d;
}
.d__content #a__join {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #6c757d;
    font-size: .8em;
    cursor: pointer;
}
.d__content #a__join:hover {
    color: #393c3e
}
.d__content .d__input_group {
    width: 100%;
}
.d__content .d__input_group .d__input {
    width: 100%;
    margin: 10px 0;
}
.d__content .d__input_group .d__input > label {
    font-size: .8em;
    margin: 3px 0;
}
.d__content .d__input_group .d__input .btn-group label {
    font-size: .95em;
}

.i-check-solid {
    background-image: url(../img/font-awesome/check-solid.svg);
    background-size: contain;
    width: 16px;
    height: 14px;
}