@charset "UTF-8";
:root {
  --w: 360px; }

body {
  overflow-y: hidden; }
  body .d__container {
    font-size: 12pt;
    color: var(--bs-gray-700);
    width: var(--w);
    height: calc(var(--vh, 1vh) * 100);
    /* 568px; */
    margin: 0 auto;
    border: 1px solid var(--bs-gray-100);
    overflow-y: hidden;
    font-family: Pretendard, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui, Dotum, Gulim, Helvetica, Sans-serif; }
    body .d__container div {
      font-size: 1em; }
    body .d__container i {
      margin: 0 5px; }
    body .d__container .col-12 {
      padding: 0 !important; }
    body .d__container .fd__row_reverse {
      flex-direction: row-reverse; }
    body .d__container .h__basic {
      display: flex;
      align-items: center;
      height: 70px; }
      body .d__container .h__basic #btn__back {
        background-image: url(../img/back.png);
        background-size: contain;
        width: 14px;
        height: 20px;
        cursor: pointer;
        margin: 0 15px;
        background-repeat: no-repeat; }
      body .d__container .h__basic .d__search button, body .d__container .h__basic .d__search input, body .d__container .h__basic .d__search span {
        font-size: .88em; }
      body .d__container .h__basic .d__search button {
        min-width: 77px; }
      body .d__container .h__basic .d__search input {
        border: transparent;
        border-bottom: 1px solid var(--bs-gray-600);
        border-radius: 0; }
      body .d__container .h__basic .d__search .dropdown-toggle::after {
        margin-left: 5px; }
      body .d__container .h__basic #i__search, body .d__container .h__basic #i__system_setting {
        padding: 0 10px; }
    body .d__container .s__basic {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 70px); }
    body .d__container .s__chaeking {
      height: calc(var(--vh, 1vh) * 100 - 115px); }
      body .d__container .s__chaeking.scroll__overlay {
        overflow-y: auto; }
  body .f__basic {
    height: 45px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--bs-gray-300); }
    body .f__basic .d__menu {
      width: 25px;
      height: 25px;
      background-size: contain;
      margin: 10px;
      cursor: pointer; }
    body .f__basic #menu_1 {
      background-image: url("../img/menu/menu_1_inactive.png"); }
    body .f__basic #menu_2 {
      background-image: url("../img/menu/menu_2_inactive.png"); }
    body .f__basic #menu_3 {
      background-image: url("../img/menu/menu_3_inactive.png"); }
    body .f__basic #menu_4 {
      background-image: url("../img/menu/menu_4_inactive.png"); }
    body .f__basic #menu_1.active {
      background-image: url("../img/menu/menu_1_active.png"); }
    body .f__basic #menu_2.active {
      background-image: url("../img/menu/menu_2_active.png"); }
    body .f__basic #menu_3.active {
      background-image: url("../img/menu/menu_3_active.png"); }
    body .f__basic #menu_4.active {
      background-image: url("../img/menu/menu_4_active.png"); }
  body .d__home {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-height: calc(var(--vh, 1vh) * 100 - 180px);
    vertical-align: middle; }
    body .d__home .d__logo {
      /* 선반 아이콘  제작자: Freepik - Flaticon*/
      background-image: url(../img/book.png);
      background-size: contain;
      width: 70px;
      height: 70px; }
  body .d__content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 20px 20px 20px; }
    body .d__content.pdt-20 {
      padding-top: 20px; }
    body .d__content button {
      margin: 10px;
      border: 2px solid var(--bs-gray-500);
      color: var(--bs-gray-500); }
    body .d__content .a__small {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: #6c757d;
      font-size: .8em;
      cursor: pointer;
      padding: 2px; }
      body .d__content .a__small:hover {
        color: #393c3e; }
    body .d__content .d__input_group {
      width: 100%; }
      body .d__content .d__input_group .d__input {
        width: 100%;
        margin: 10px 0; }
        body .d__content .d__input_group .d__input > label {
          font-size: .85em;
          margin: 3px 0; }
        body .d__content .d__input_group .d__input .btn-group label {
          font-size: .95em; }
    body .d__content .d__book_simple {
      display: flex;
      flex-flow: row;
      align-self: flex-start;
      height: 65px;
      font-size: .8em;
      margin: 5px 0; }
      body .d__content .d__book_simple .d__book_image {
        display: flex;
        justify-content: center;
        width: 65px;
        height: 65px;
        flex-grow: 1; }
        body .d__content .d__book_simple .d__book_image img {
          width: auto;
          height: 65px; }
      body .d__content .d__book_simple .d__book_content {
        width: calc(100% - 65px);
        margin-left: 10px;
        flex-grow: 2; }
        body .d__content .d__book_simple .d__book_content .d__book_title {
          margin-bottom: 2px; }
        body .d__content .d__book_simple .d__book_content .d__author {
          margin-right: 5px; }
          body .d__content .d__book_simple .d__book_content .d__author:after {
            content: " 저"; }
    body .d__content .d__profile {
      display: flex;
      width: 100%;
      height: 65px; }
      body .d__content .d__profile #user__image img {
        width: 65px;
        height: 65px; }
      body .d__content .d__profile #user__info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 30px; }
        body .d__content .d__profile #user__info .user__name {
          display: flex;
          align-items: center;
          font-weight: 600; }
          body .d__content .d__profile #user__info .user__name:after {
            font-size: .8em;
            padding: 0 5px;
            content: '\F285';
            font-family: bootstrap-icons, Pretendard, sans-serif !important; }
        body .d__content .d__profile #user__info .user__email {
          font-size: smaller; }
    body .d__content .d__management {
      display: flex;
      flex-flow: column;
      width: 100%;
      color: var(--bs-gray-dark);
      font-weight: 600;
      margin-bottom: 20px;
      cursor: pointer; }
      body .d__content .d__management .title {
        margin: 10px 0; }
      body .d__content .d__management .more, body .d__content .d__management .plus {
        margin: 5px 20px; }
    body .d__content .d__system {
      margin-bottom: 20px;
      width: 100%;
      color: var(--bs-gray-dark);
      font-weight: 600;
      cursor: pointer; }
      body .d__content .d__system .more, body .d__content .d__system .plus {
        margin: 10px 20px; }
    body .d__content .more {
      justify-content: space-between;
      display: flex;
      font-size: .9em; }
      body .d__content .more:after {
        font-size: .8em;
        color: #000000;
        padding: 0 5px;
        content: '\F285';
        font-family: bootstrap-icons, Pretendard, sans-serif !important; }
    body .d__content .plus {
      display: flex;
      flex-flow: column;
      font-weight: 600;
      font-size: .9em; }
      body .d__content .plus.ml-zero {
        margin-left: 0; }

/*# sourceMappingURL=basic.css.map */
