<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">

<th:block layout:fragment="f-title">책킹</th:block>

<header class="h__basic" layout:fragment="f-head"></header>
<section layout:fragment="f-content">
    <div class="d__home">
        <div class="d__logo"></div>
    </div>
    <div class="d__content">
        <button type="button" class="btn form-control" id="btn__login">
            <i class="bi bi-envelope-fill"></i>
            이메일로 로그인하기
        </button>
        <a class="a__small" th:href="@{/join}">회원가입</a>
        <div class="a__small" id="a__test">테스트</div>
    </div>
    <div class="spinner-border text-secondary d__spinner d__hidden" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</section>

<th:block layout:fragment="f-script">
    <script>
        const temp_user_info = {
            "email": "sol@applebox.xyz",
            "password": "3wqPrWol1T3h/3U+w2abGw==",
            "secret_key": "A37aXdxH6gwTySajLe8eZWNvyC2yuZVB"
        };
        document.getElementById("btn__login").onclick = () => location.href = "[[@{/login}]]";
        document.getElementById("a__test").onclick = () => {
            document.querySelector('.d__spinner').classList.remove('d__hidden');
            axios.post(fn_get_chaeking_api_url() + '/v1/auth/token', temp_user_info)
                .then(res => res.data.data)
                .then(data => {
                    const $form = document.createElement("form");
                    $form.setAttribute("method","post");
                    $form.setAttribute("action","/test");
                    document.body.appendChild($form)

                    const $access_token = document.createElement("input");
                    $access_token.setAttribute("type","hidden");
                    $access_token.setAttribute("name","access_token");
                    $access_token.setAttribute("value", data['access_token']);
                    $form.appendChild($access_token);

                    const $refresh_token = document.createElement("input");
                    $refresh_token.setAttribute("type","hidden");
                    $refresh_token.setAttribute("name","refresh_token");
                    $refresh_token.setAttribute("value", data['refresh_token']);
                    $form.appendChild($refresh_token);
                    $form.submit();
                })
                .catch(e => {
                    document.querySelector('.d__spinner').classList.add('d__hidden');
                    if(e['message'] === 'Network Error')
                        alert('API 서버가 유효하지 않습니다.')
                    else
                        alert(e['message']);
                });
        }
    </script>
</th:block>