<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">

<th:block layout:fragment="f-title">책킹</th:block>

<section layout:fragment="f-content">
    <div class="d__container">
        <div class="d__home">
            <div class="d__logo"></div>
        </div>
        <div class="d__content">
            <button type="button" class="btn form-control" id="btn__login">
                <i class="fa-solid fa-at"></i>
                이메일로 로그인하기
            </button>
            <a id="a__join">회원가입</a>
        </div>
    </div>
</section>

<th:block layout:fragment="f-script">
    <script>
        window.onload = function() {
            document.getElementById("btn__login").onclick = () => {
                location.href = "[[@{/login}]]";
            };
        };
    </script>
</th:block>