<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/chaeking">

<th:block layout:fragment="f-title">책 검색</th:block>
<th:block layout:fragment="f-head-content">
    <div class="d__search input-group">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">전체</button>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item" data-name="title">제목</span></li>
            <li><span class="dropdown-item" data-name="person">작가</span></li>
            <li><span class="dropdown-item" data-name="publisher">출판사</span></li>
            <li><span class="dropdown-item" data-name="isbn">ISBN</span></li>
        </ul>
        <input type="text" class="form-control" name="query" placeholder="검색어를 입력하세요">
    </div>
</th:block>

<section layout:fragment="f-content">
    <div class="d__content">
        <div>
            Proto 님,<br>
            오늘은 어떤 책을<br>
            기록하고 싶으신가요?
        </div>
    </div>
</section>

<th:block layout:fragment="f-script">
    <script>
        window.onload = function() {
            const $items = document.getElementsByClassName('dropdown-item');
            [].forEach.call(Array.from($items), $item => {
                $item.addEventListener('click', e => {
                    closest($item, '.dropdown-menu').previousElementSibling.textContent = $item.textContent;
                });
            });
        };
    </script>
</th:block>